.main{
    width: 100%;
    height: 100vh;
}
header{
    width: 100%;
    height: 25%; 
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
h1{
    width: 100%;
    text-align: center;
}
ul li{
    height: 30px;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#wrap{
    
}
i{
    color: rgb(114, 190, 0);
    margin-right: 7px;

}