/*global css*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Montserrat:wght@300&family=VT323&display=swap');
    /*
    font-family: 'Montserrat', sans-serif;
    font-family: 'VT323', monospace;
    */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
    /*font-family: 'Montserrat', sans-serif;*/
html , body ,div ,ul,li,h1,h2,p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h1,h3,div{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
p,li{
    font-family: 'VT323', monospace;
}

/*==================style===================*/
@media screen and (min-width:992px){
    #header{
        height: 50px;
        display: flex;
        justify-content: space-between;

    }
    #header>i{
        display: none;
    }
    #logo{
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #header ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 40%;
        height: 100%;
        list-style: none;
    }

    /*=====contents style======*/
    /*popular*/
    #popular{
        height: 350px;
        background-color: deeppink;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }
    .horizion_item{
        width: 100%;
        height: 48%;
        background-color: gray ;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;

    }
        .horizion_item h1,.horizion_item p{
            margin: 0px 0px 10px 10px;
        }
    .vertical_wrap{
        width: 28%;
        height: 80%;
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
        .vertical_wrap h1,.vertical_wrap p{
            font-size: 0.9em;
        }

    .vertical_item{
        width: 100%;
        height: 100%;
        background-color: gray;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
    }
    .vertical_item h1,.vertical_item p{
        margin: 0 0 10px 10px;
    }
    .vertical_item ul{
        display: flex;
        list-style: none;
    }
    .vertical_item ul li{
        margin-left: 1em;
    }


    /*============recent post style==============*/
    #recent_posts{
        display: flex;
        justify-content: center;
    }
    #recent_posts-container{
        width: 80%;
    }
    #title{
        width: 100%;
        height: 60px;
        background-color: gray;
        display: flex;
        align-items: center;
        font-size: 1.2em;
    }

    #recentposts_contents-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .tag_item{
        width: 30%;
        aspect-ratio: 1/2;

        margin-top: 10px;
        
    }
    .tag_item>img{
        width: 100%;
        height: 40%;
    }
    .container-content{
        width: 100%;
        height: 60%;
        
        display: flex;
        justify-content: center;
    }

    .wrap-content{
        width: 90%;
        height: 100%;
    }
    .wrap-content h1{
        font-size: .7em;
        margin-top: 15px;
        background-color: gray;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
    }
    .wrap-content h2{
        font-size: 0.9em;
        margin-top: 20px;
        font-weight: 900;
    }
    .wrap-content ul{
        margin-top: 15px;
    }
    .wrap-content ul li{
        display: flex;
        height: 30px;
        align-items: center;
    }
    .wrap-content ul li p{
        font-size: 0.8em;
        font-weight: 300;
    }
    .wrap-content ul li p span{
        font-weight: 800;
    }
    .wrap-content ul li img{
        height: 100%;
        aspect-ratio: 1;
        border-radius: 50%;
        margin-right: 10px;
    }
    .wrap-content>p{
        margin-top: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 0.8em;
    }
    .wrap-content button{
        margin-top: 40px;
        background-color: white;
        border: none;
        color: blue;
    }



    
    #nextRecent{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #nextRecent ul{
        height: 100%;
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    #nextRecent ul li{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(128, 128, 255);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*=============popular 2============*/
    #popular2{
        display: flex;
        height: 500px;
        justify-content: center;
        align-items: center;
        background-color: rgb(212, 212, 212);
    }
    #popular2-wrap{
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: space-between;

    }
    #vertical-wrap1{
        width: 58.5%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }
    .rectangle{
        width: 100%;
        height: 48.5%;
        background-color: rgb(217, 85, 85);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;             
    }
    .rectangle>h1{
        font-size: 0.7em;
        margin-left: 20px;
        background-color: greenyellow;
        border-radius: 5px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .rectangle ul h1 , .rectangle ul p{
        font-size: 0.8em;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .square{
        width: 48.5%;
        height: 48.5%;
        background-color: brown;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
    }
    .square >h1{
        font-size: 0.7em;
        margin-left: 20px;
        background-color: greenyellow;
        border-radius: 5px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .square ul h1 , .square ul p{
        margin-left: 20px;
        font-size: 0.8em;
        margin-bottom: 20px;
    }



    #vertical-wrap2{
        width: 38.5%;
        height: 100%;
        background-color: rgb(187, 131, 131);
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    #vertical-wrap2>h1{
        font-size: 0.8em;
        margin-left: 20px;
        width: 80px;
        background-color: rgb(255, 0, 0);
        border-radius: 5px;
        height: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        
    }
    #vertical-wrap2 ul{
        width: 100%;
    }
    #vertical-wrap2 ul h1,#vertical-wrap2 ul p{
        font-size: .8em;
        margin: 0 0 20px 20px;
    }

    /*=======subcribe=======*/
    #subcribe{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #subcribe h1,#subcribe p{
        width: 90%;
        text-align: center;
        font-size: 0.9em;
        font-weight: 900;
    }
    #subcribe h1{
        margin-top: 30px;
    }
    #subcribe form{
        margin-bottom: 30px;
    }
    #subcribe p{
        margin-top: -20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    form input[type="email"]{
        border: 1px solid rgb(206, 206, 206);
        height: 25px;
        width: 250px;
        border-radius: 5px;
    }
    form input[type="button"]{
        border: 1px solid rgb(206, 206, 206);
        height: 28px;
        border-radius: 5px;
        margin-left: -5px;
        background-color: rgb(90, 90, 255);
        color: white;
    }

    /*=========footer=========*/
    #footer{
        width: 100%;
        height: 400px;
        background-color: rgb(48, 48, 48);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #footer-info{
        width: 80%;
        height: 250px;
        display: flex;
        justify-content: space-between;
    }
    #about{
        width: 25%;
        height: 100%;
       
    }
    #about h1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1em;
        color: white;
        font-weight: 400;
        margin-bottom: 20px;
    }#about p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 0.7em;
        color: gray;
    }
    .contact{
        width: 18%;
        height: 100%;
    }
    .contact p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 0.8em;
        color: rgb(142, 142, 142);
        font-weight: 300;
    }

    #connect{
        width: 25%;
        height: 100%;
    
    }
    #connect ul{
        display: flex;
        list-style:none;
    }
    #connect h1{
       font-size: 0.9em;
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       margin-bottom: 15px;
       color: white;
    }
    #connect ul li:not(:first-child) {
        margin-left: 7px;
    }
    #connect li{
        color: gray;
        transform: scale(0.7);
    }
    

    #licence{
        width: 80%;
        height: 80px;
        margin-top: -70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
        color: gray;
    }
}


@media screen and (min-width: 768px) and (max-width: 991px) {
    #header{
        height: 50px;
        display: flex;
        justify-content: space-between;
        position: relative;
        
    }
    #header >i{
        position: absolute;
        line-height: 50px;
        transform: translateX(95vw);
    }
    #header >i:hover #header ul{
        display: flex;
    }
    #logo{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #header ul{
        display: none;
        justify-content: space-evenly;
        align-items: center;
        width: 40%;
        height: 100%;
        list-style: none;
    }

    /*=====contents style======*/
    /*popular*/
    #popular{
        height: 350px;
        background-color: deeppink;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }
    .horizion_item{
        width: 100%;
        height: 48%;
        background-color: gray ;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;

    }
        .horizion_item h1,.horizion_item p{
            margin: 0px 0px 10px 10px;
        }
    .vertical_wrap{
        width: 28%;
        height: 80%;
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
        .vertical_wrap h1,.vertical_wrap p{
            font-size: 0.9em;
        }

    .vertical_item{
        width: 100%;
        height: 100%;
        background-color: gray;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
    }
    .vertical_item h1,.vertical_item p{
        margin: 0 0 10px 10px;
    }
    .vertical_item ul{
        display: flex;
        list-style: none;
    }
    .vertical_item ul li{
        margin-left: 1em;
    }


    /*============recent post style==============*/
    #recent_posts{
        display: flex;
        justify-content: center;
    }
    #recent_posts-container{
        width: 80%;
    }
    #title{
        width: 100%;
        height: 60px;
        background-color: gray;
        display: flex;
        align-items: center;
        font-size: 1.2em;
    }

    #recentposts_contents-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .tag_item{
        width: 100%;
        aspect-ratio: 1/2;

        margin-top: 10px;
        
    }
    .tag_item>img{
        width: 100%;
        height: 40%;
    }
    .container-content{
        width: 100%;
        height: 60%;
        
        display: flex;
        justify-content: center;
    }

    .wrap-content{
        width: 90%;
        height: 100%;
    }
    .wrap-content h1{
        font-size: .7em;
        margin-top: 15px;
        background-color: gray;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
    }
    .wrap-content h2{
        font-size: 0.9em;
        margin-top: 20px;
        font-weight: 900;
    }
    .wrap-content ul{
        margin-top: 15px;
    }
    .wrap-content ul li{
        display: flex;
        height: 30px;
        align-items: center;
    }
    .wrap-content ul li p{
        font-size: 0.8em;
        font-weight: 300;
    }
    .wrap-content ul li p span{
        font-weight: 800;
    }
    .wrap-content ul li img{
        height: 100%;
        aspect-ratio: 1;
        border-radius: 50%;
        margin-right: 10px;
    }
    .wrap-content>p{
        margin-top: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 0.8em;
    }
    .wrap-content button{
        margin-top: 40px;
        background-color: white;
        border: none;
        color: blue;
    }



    
    #nextRecent{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #nextRecent ul{
        height: 100%;
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    #nextRecent ul li{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(128, 128, 255);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*=============popular 2============*/
    #popular2{
        display: flex;
        height: 500px;
        justify-content: center;
        align-items: center;
        background-color: rgb(212, 212, 212);
    }
    #popular2-wrap{
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: space-between;

    }
    #vertical-wrap1{
        width: 58.5%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }
    .rectangle{
        width: 100%;
        height: 48.5%;
        background-color: rgb(217, 85, 85);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;             
    }
    .rectangle>h1{
        font-size: 0.7em;
        margin-left: 20px;
        background-color: greenyellow;
        border-radius: 5px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .rectangle ul h1 , .rectangle ul p{
        font-size: 0.8em;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .square{
        width: 48.5%;
        height: 48.5%;
        background-color: brown;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
    }
    .square >h1{
        font-size: 0.7em;
        margin-left: 20px;
        background-color: greenyellow;
        border-radius: 5px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .square ul h1 , .square ul p{
        margin-left: 20px;
        font-size: 0.8em;
        margin-bottom: 20px;
    }



    #vertical-wrap2{
        width: 38.5%;
        height: 100%;
        background-color: rgb(187, 131, 131);
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    #vertical-wrap2>h1{
        font-size: 0.8em;
        margin-left: 20px;
        width: 80px;
        background-color: rgb(255, 0, 0);
        border-radius: 5px;
        height: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        
    }
    #vertical-wrap2 ul{
        width: 100%;
    }
    #vertical-wrap2 ul h1,#vertical-wrap2 ul p{
        font-size: .8em;
        margin: 0 0 20px 20px;
    }

    /*=======subcribe=======*/
    #subcribe{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #subcribe h1,#subcribe p{
        width: 90%;
        text-align: center;
        font-size: 0.9em;
        font-weight: 900;
    }
    #subcribe h1{
        margin-top: 30px;
    }
    #subcribe form{
        margin-bottom: 30px;
    }
    #subcribe p{
        margin-top: -20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    form input[type="email"]{
        border: 1px solid rgb(206, 206, 206);
        height: 25px;
        width: 250px;
        border-radius: 5px;
    }
    form input[type="button"]{
        border: 1px solid rgb(206, 206, 206);
        height: 28px;
        border-radius: 5px;
        margin-left: -5px;
        background-color: rgb(90, 90, 255);
        color: white;
    }

    /*=========footer=========*/
    #footer{
        width: 100%;
        height: 400px;
        background-color: rgb(48, 48, 48);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #footer-info{
        width: 80%;
        height: 250px;
        display: flex;
        justify-content: space-between;
    }
    #about{
        width: 25%;
        height: 100%;
       
    }
    #about h1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1em;
        color: white;
        font-weight: 400;
        margin-bottom: 20px;
    }#about p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 0.7em;
        color: gray;
    }
    .contact{
        width: 18%;
        height: 100%;
    }
    .contact p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 0.8em;
        color: rgb(142, 142, 142);
        font-weight: 300;
    }

    #connect{
        width: 25%;
        height: 100%;
    
    }
    #connect ul{
        display: flex;
        list-style:none;
    }
    #connect h1{
       font-size: 0.9em;
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       margin-bottom: 15px;
       color: white;
    }
    #connect ul li:not(:first-child) {
        margin-left: 7px;
    }
    #connect li{
        color: gray;
        transform: scale(0.7);
    }
    

    #licence{
        width: 80%;
        height: 80px;
        margin-top: -70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
        color: gray;
    }
}

/*==================mobie=========*/
@media screen and (min-width: 320px) and (max-width: 767px) {
    #header{
        height: 50px;
        display: flex;
        justify-content: space-between;
        position: relative;
        
    }
    #header >i{
        position: absolute;
        line-height: 50px;
        transform: translateX(95vw);
    }
    #header >i:hover #header ul{
        display: flex;
    }
    #logo{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #header ul{
        display: none;
        justify-content: space-evenly;
        align-items: center;
        width: 40%;
        height: 100%;
        list-style: none;
    }

    /*=====contents style======*/
    /*popular*/
    #popular{
        background-color: deeppink;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    .horizion_item{
        width: 100%;
        aspect-ratio: 1;
        background-color: gray ;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        margin-top: 10px;

    }
        .horizion_item h1,.horizion_item p{
            width: 100%;
            margin: 0px 0px 10px 10px;
        }
    .vertical_wrap{
        width: 90%;
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
        .vertical_wrap h1,.vertical_wrap p{
            font-size: 0.9em;
        }

    .vertical_item{
        width: 100%;
        aspect-ratio: 1;
        background-color: gray;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
    }
    .vertical_item h1,.vertical_item p{
        margin: 0 0 10px 10px;
        width: 100%;
    }
    .vertical_item ul{
        display: flex;
        list-style: none;
    }
    .vertical_item ul li{
        margin-left: 1em;
    }


    /*============recent post style==============*/
    #recent_posts{
        display: flex;
        justify-content: center;
    }
    #recent_posts-container{
        width: 80%;
    }
    #title{
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        font-size: 1.2em;
    }

    #recentposts_contents-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .tag_item{
        width: 100%;
        aspect-ratio: 1/2;

        margin-top: 10px;
        
    }
    .tag_item>img{
        width: 100%;
        height: 40%;
    }
    .container-content{
        width: 100%;
        height: 60%;
        
        display: flex;
        justify-content: center;
    }

    .wrap-content{
        width: 90%;
        height: 100%;
    }
    .wrap-content h1{
        font-size: .7em;
        margin-top: 15px;
        background-color: gray;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
    }
    .wrap-content h2{
        font-size: 0.9em;
        margin-top: 20px;
        font-weight: 900;
    }
    .wrap-content ul{
        margin-top: 15px;
    }
    .wrap-content ul li{
        display: flex;
        height: 30px;
        align-items: center;
    }
    .wrap-content ul li p{
        font-size: 0.8em;
        font-weight: 300;
    }
    .wrap-content ul li p span{
        font-weight: 800;
    }
    .wrap-content ul li img{
        height: 100%;
        aspect-ratio: 1;
        border-radius: 50%;
        margin-right: 10px;
    }
    .wrap-content>p{
        margin-top: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 0.8em;
    }
    .wrap-content button{
        margin-top: 40px;
        background-color: white;
        border: none;
        color: blue;
    }



    
    #nextRecent{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #nextRecent ul{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    #nextRecent ul li{
        width:50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgb(128, 128, 255);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*=============popular 2============*/
    #popular2{
        display: flex;
        justify-content: center;
        background-color: rgb(212, 212, 212);
    }
    #popular2-wrap{
        width: 100%;
        height: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    #vertical-wrap1{
        width: 90%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
    }
    .rectangle{
        width: 100%;
        aspect-ratio: 1;
        background-color: rgb(217, 85, 85);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;    
        margin-top: 20px;
        margin-bottom: 20px;         
    }
    .rectangle>h1{
        font-size: 0.7em;
        margin-left: 20px;
        background-color: greenyellow;
        border-radius: 5px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .rectangle ul h1 , .rectangle ul p{
        font-size: 0.8em;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .square{
        width: 100%;
        aspect-ratio: 1;
        background-color: brown;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 20px;
    }
    .square >h1{
        font-size: 0.7em;
        margin-left: 20px;
        background-color: greenyellow;
        border-radius: 5px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .square ul h1 , .square ul p{
        margin-left: 20px;
        font-size: 0.8em;
        margin-bottom: 20px;
    }



    #vertical-wrap2{
        width: 90%;
        aspect-ratio: 1;
        background-color: rgb(187, 131, 131);
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    #vertical-wrap2>h1{
        font-size: 0.8em;
        margin-left: 20px;
        width: 80px;
        background-color: rgb(255, 0, 0);
        border-radius: 5px;
        height: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        
    }
    #vertical-wrap2 ul{
        width: 100%;
    }
    #vertical-wrap2 ul h1,#vertical-wrap2 ul p{
        font-size: .8em;
        margin: 0 0 20px 20px;
    }

    /*=======subcribe=======*/
    #subcribe{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #subcribe h1,#subcribe p{
        width: 90%;
        text-align: center;
        font-size: 0.9em;
        font-weight: 900;
    }
    #subcribe h1{
        margin-top: 30px;
    }
    #subcribe form{
        margin-bottom: 30px;
    }
    #subcribe p{
        margin-top: -20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    form input[type="email"]{
        border: 1px solid rgb(206, 206, 206);
        height: 25px;
        width: 250px;
        border-radius: 5px;
    }
    form input[type="button"]{
        border: 1px solid rgb(206, 206, 206);
        height: 28px;
        border-radius: 5px;
        margin-left: -5px;
        background-color: rgb(90, 90, 255);
        color: white;
    }

    /*=========footer=========*/
    #footer{
        width: 100%;
        height: 400px;
        background-color: rgb(48, 48, 48);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #footer-info{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #about{
        width: 90%;
        height: 100%;
       margin-bottom: 20px;
    }
    #about h1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1em;
        color: white;
        font-weight: 400;
        margin-bottom: 20px;
    }#about p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 0.7em;
        color: gray;
    }
    .contact{
        width: 18%;
        height: 100%;
    }
    .contact p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 0.8em;
        color: rgb(142, 142, 142);
        font-weight: 300;
    }

    #connect{
        width: 90%;
        height: 100%;
        margin-top: 20px;
    }
    #connect ul{
        display: flex;
        list-style:none;
    }
    #connect h1{
       font-size: 0.9em;
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       margin-bottom: 15px;
       color: white;
    }
    #connect ul li:not(:first-child) {
        margin-left: 7px;
    }
    #connect li{
        color: gray;
        transform: scale(0.7);
    }
    

    #licence{
        width: 80%;
        height: 80px;
        margin-top: -70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
        color: gray;
    }
}